<article class="gh-card {{post_class}}">
    {{#if feature_image}}
    <a class="gh-card-image-wrapper" href="{{url}}">
        <picture class="gh-card-picture">
            <source 
                data-srcset="
                {{img_url feature_image size='s' format='avif'}} 300w,
                {{img_url feature_image size='m' format='avif'}} 600w,
                {{img_url feature_image size='l' format='avif'}} 1000w"
                sizes="(max-width: 1000px) 400px, 700px"
                type="image/avif"
            >
            <source 
                data-srcset="
                {{img_url feature_image size='s' format='webp'}} 300w,
                {{img_url feature_image size='m' format='webp'}} 600w,
                {{img_url feature_image size='l' format='webp'}} 1000w"
                sizes="(max-width: 1000px) 400px, 700px"
                type="image/webp"
            >
            <img
                class="gh-card-image"
                data-srcset="
                {{img_url feature_image size='s'}} 300w,
                {{img_url feature_image size='m'}} 600w,
                {{img_url feature_image size='l'}} 1000w"
                sizes="(max-width: 1000px) 400px, 700px"
                data-src="{{img_url feature_image size='m'}}"
                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
                alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                loading="lazy"
            >
        </picture>
    </a>
    {{/if}}
    <div class="gh-card-content">
        {{#if primary_tag}}
        <span class="gh-card-tag">{{primary_tag.name}}</span>
        {{/if}}
        <h2 class="gh-card-title"><a href="{{url}}">{{title}}</a></h2>
        <p class="gh-card-excerpt">{{excerpt words="25"}}</p>
        <footer class="gh-card-meta">
            <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="MMM D, YYYY"}}</time>
            <span class="gh-card-read-time">{{reading_time minute="1 min read" minutes="% min read"}}</span>
        </footer>
    </div>
</article>